@font-face {
    font-family:"spiral-font";
    src: url("fonts/SpiralFont-Regular.ttf") format("truetype");
}

.spiral-font{
    font-family: "spiral-font", serif;
}

/* Home page and multi-page styling */
.green-page{
    background-color:darkolivegreen;
}

.lightgreen-page{
    background-color:darkseagreen;
}

.gold-page{
    background-color:goldenrod;
}
.darkgold-page{
    background-color:darkgoldenrod;
}

.center{
    text-align: center;
}

.photo{
    display:block;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 20pt;
    border-width: 5pt;
    border-color: darkgoldenrod;
    border-style: double;
}



/* Text! */


.darkgold{
    font-family: "spiral-font";
    color: goldenrod;
}

h2.darkgold{
    display: block;
    font-family: "spiral-font", serif;
    color: goldenrod;
    font-size: 38pt;
    margin-left: 30pt;
}

h1.darkgold{
    font-size: 70pt;
    font-family: "spiral-font", serif;
    color: goldenrod;
}

h1.darkgreen{
    font-size: 50pt;
    font-family: "spiral-font", serif;
    color: darkolivegreen;
}

h2.lightgreen{
    font-size: 50pt;
    font-family: "spiral-font", serif;
    color: darkseagreen;
}

h2.darkgreen{
    display: block;
    font-family: "spiral-font", serif;
    color: darkolivegreen;
    font-size: 38pt;
    margin-left: 30pt;
}

p.darkgreen{
    font-size: 15pt;
    font-family: "spiral-font", serif;
    color: darkolivegreen;
}

h5.apple{
    text-align: center;
    font-size: 20pt;
    font-family: "spiral-font", serif;
    color:brown;
}
h3.apple{
    font-size: 30pt;
    font-family: "spiral-font", serif;
    color:brown;
}
p.apple{
    text-align: center;
    font-size: 20pt;
    font-family: "spiral-font", serif;
    color:brown;
}

/* Buttons */


.greenBtn{
    display: inline-block;
    background-color: darkolivegreen !important;
    font-family: "spiral-font", serif;
    color: goldenrod;
    font-size: 20pt;
    margin-left: 5pt;
    margin-right: 5pt;
}

.quizBtn{
    display: inline-block;
    background-color: darkolivegreen !important;
    font-family: "spiral-font", serif;
    color: darkseagreen;
    font-size: 20pt;
    margin-left: 5pt;
    margin-right: 5pt;
}

.quizBtn2{
    display: inline-block;
    background-color: darkseagreen;
    font-family: "spiral-font", serif;
    color: darkolivegreen ;
    font-size: 20pt;
    margin-left: 20pt;
    margin-right: 5pt;
}

.goldBtn{
    display: inline-block;
    color:darkolivegreen;
    background-color: goldenrod;
    font-family: "spiral-font", serif;
    font-size: 20pt;
    margin-left: 5pt;
    margin-right: 5pt;
}

.appleBtn{
    display: inline-block;
    background-color: brown !important;
    font-family: "spiral-font", serif;
    color: goldenrod;
    font-size: 20pt;
    margin-left: 5pt;
    margin-right: 5pt;
}



/* Memory Game */


/* Quiz */

.quizImg{
    display:block;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

/* Apple Paper Scissors! */

.choice{
    background-color: darkolivegreen;
}

.choiceImg{
    width: 100pt;
    height: 100pt;
}